In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob, os, sys
import utils
from importlib import reload
reload(utils)

In [14]:
folder = '/home/jesse/Development/data/weather'
files = glob.glob(os.path.join(folder, '*.csv'))
kwargs = {'t_range': [-50, 150]}

In [5]:
data = [pd.read_csv(f, low_memory=False) for f in files]
data = pd.concat(data)
post_data, stations, data_per_station = utils.preprocess(data, t_range)
print(stations)

['DETROIT METROPOLITAN AIRPORT MI US', 'ITHACA CORNELL UNIVERSITY NY US', 'OAKLAND METROPOLITAN INTERNATIONAL AIRPORT CA US', 'SAN DIEGO INTERNATIONAL AIRPORT CA US', 'SAN FRANCISCO DOWNTOWN CA US', 'SAN JOSE CA US']

In [18]:
for st in stations:
    df = data_per_station[st]
    utils.plot_station_all_time(df, st, **kwargs)
plt.show()

In [36]:
data_per_station['OAKLAND METROPOLITAN INTERNATIONAL AIRPORT CA US'].loc[19480101:19890101].plot('DATE_fmt', 'TMAX')
plt.show()

TypeError: Empty 'DataFrame': no numeric data to plot

In [35]:
data_per_station['OAKLAND METROPOLITAN INTERNATIONAL AIRPORT CA US']

,DATE,ELEVATION,LATITUDE,LONGITUDE,Measurement Flag,Measurement Flag.1,Measurement Flag.2,Measurement Flag.3,Quality Flag,Quality Flag.1,...,Source Flag.3,TAVG,TMAX,TMIN,TOBS,Time of Observation,Time of Observation.1,Time of Observation.2,Time of Observation.3,DATE_fmt
0,19480101,4.9,37.73333,-122.2,,,,,,,...,,NaN,56.0,44.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-01
1,19480102,4.9,37.73333,-122.2,,,,,,,...,,NaN,56.0,51.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-02
2,19480103,4.9,37.73333,-122.2,,,,,,,...,,NaN,57.0,49.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-03
3,19480104,4.9,37.73333,-122.2,,,,,,,...,,NaN,62.0,53.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-04
4,19480105,4.9,37.73333,-122.2,,,,,,,...,,NaN,64.0,50.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-05
5,19480106,4.9,37.73333,-122.2,,,,,,,...,,NaN,65.0,50.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-06
6,19480107,4.9,37.73333,-122.2,,,,,,,...,,NaN,60.0,52.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-07
7,19480108,4.9,37.73333,-122.2,,,,,,,...,,NaN,54.0,42.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-08
8,19480109,4.9,37.73333,-122.2,,,,,,,...,,NaN,54.0,39.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-09
9,19480110,4.9,37.73333,-122.2,,,,,,,...,,NaN,59.0,40.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-10
10,19480111,4.9,37.73333,-122.2,,,,,,,...,,NaN,61.0,36.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-11
11,19480112,4.9,37.73333,-122.2,,,,,,,...,,NaN,68.0,42.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-12
12,19480113,4.9,37.73333,-122.2,,,,,,,...,,NaN,65.0,48.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-13
13,19480114,4.9,37.73333,-122.2,,,,,,,...,,NaN,64.0,39.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-14
14,19480115,4.9,37.73333,-122.2,,,,,,,...,,NaN,65.0,35.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-15
15,19480116,4.9,37.73333,-122.2,,,,,,,...,,NaN,63.0,38.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-16
16,19480117,4.9,37.73333,-122.2,,,,,,,...,,NaN,63.0,35.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-17
17,19480118,4.9,37.73333,-122.2,,,,,,,...,,NaN,62.0,36.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-18
18,19480119,4.9,37.73333,-122.2,,,,,,,...,,NaN,66.0,39.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-19
19,19480120,4.9,37.73333,-122.2,,,,,,,...,,NaN,60.0,37.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-20
20,19480121,4.9,37.73333,-122.2,,,,,,,...,,NaN,61.0,35.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-21
21,19480122,4.9,37.73333,-122.2,,,,,,,...,,NaN,59.0,39.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-22
22,19480123,4.9,37.73333,-122.2,,,,,,,...,,NaN,72.0,40.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-23
23,19480124,4.9,37.73333,-122.2,,,,,,,...,,NaN,72.0,38.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-24
24,19480125,4.9,37.73333,-122.2,,,,,,,...,,NaN,62.0,38.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-25
25,19480126,4.9,37.73333,-122.2,,,,,,,...,,NaN,58.0,36.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-26
26,19480127,4.9,37.73333,-122.2,,,,,,,...,,NaN,59.0,36.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-27
27,19480128,4.9,37.73333,-122.2,,,,,,,...,,NaN,58.0,32.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-28
28,19480129,4.9,37.73333,-122.2,,,,,,,...,,NaN,56.0,34.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-29
29,19480130,4.9,37.73333,-122.2,,,,,,,...,,NaN,57.0,36.0,-9999,9999.0,2400.0,2400.0,9999.0,1948-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19224,20160722,1.8,37.72139,-122.22083,,,,,,,...,,NaN,74.0,56.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-22
19225,20160723,1.8,37.72139,-122.22083,,,,,,,...,,NaN,77.0,54.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-23
19226,20160724,1.8,37.72139,-122.22083,,,,,,,...,,NaN,73.0,56.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-24
19227,20160725,1.8,37.72139,-122.22083,,,,,,,...,,NaN,73.0,56.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-25
19228,20160726,1.8,37.72139,-122.22083,,,,,,,...,,NaN,83.0,54.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-26
19229,20160727,1.8,37.72139,-122.22083,,,,,,,...,,NaN,77.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-27
19230,20160728,1.8,37.72139,-122.22083,,,,,,,...,,NaN,75.0,56.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-28
19231,20160729,1.8,37.72139,-122.22083,,,,,,,...,,NaN,73.0,56.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-29
19232,20160730,1.8,37.72139,-122.22083,,,,,,,...,,NaN,69.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-30
19233,20160731,1.8,37.72139,-122.22083,,,,,,,...,,NaN,70.0,58.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-07-31
19234,20160801,1.8,37.72139,-122.22083,,,,,,,...,,NaN,72.0,58.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-01
19235,20160802,1.8,37.72139,-122.22083,,,,,,,...,,NaN,71.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-02
19236,20160803,1.8,37.72139,-122.22083,,,,,,,...,,NaN,72.0,55.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-03
19237,20160804,1.8,37.72139,-122.22083,,,,,,,...,,NaN,66.0,58.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-04
19238,20160805,1.8,37.72139,-122.22083,,,,,,,...,,NaN,68.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-05
19239,20160806,1.8,37.72139,-122.22083,,,,,,,...,,NaN,67.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-06
19240,20160807,1.8,37.72139,-122.22083,,,,,,,...,,NaN,71.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-07
19241,20160808,1.8,37.72139,-122.22083,,,,,,,...,,NaN,73.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-08
19242,20160809,1.8,37.72139,-122.22083,,,,,,,...,,NaN,74.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-09
19243,20160810,1.8,37.72139,-122.22083,,,,,,,...,,NaN,73.0,56.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-10
19244,20160811,1.8,37.72139,-122.22083,,,,,,,...,,NaN,72.0,58.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-11
19245,20160812,1.8,37.72139,-122.22083,,,,,,,...,,NaN,71.0,58.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-12
19246,20160813,1.8,37.72139,-122.22083,,,,,,,...,,NaN,75.0,56.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-13
19247,20160814,1.8,37.72139,-122.22083,,,,,,,...,,NaN,71.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-14
19248,20160815,1.8,37.72139,-122.22083,,,,,,,...,,NaN,69.0,56.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-15
19249,20160816,1.8,37.72139,-122.22083,,,,,,,...,,NaN,70.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-16
19250,20160817,1.8,37.72139,-122.22083,,,,,,,...,,NaN,70.0,57.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-17
19251,20160818,1.8,37.72139,-122.22083,,,,,,,...,,NaN,72.0,59.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-18
19252,20160819,1.8,37.72139,-122.22083,,,,,,,...,,NaN,70.0,59.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-19
19253,20160820,1.8,37.72139,-122.22083,,,,,,,...,,NaN,69.0,60.0,-9999,9999.0,9999.0,9999.0,9999.0,2016-08-20